#div-form{
    width: 500px;
    min-height: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(209, 185, 204);
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;

}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;

}


#form{
    background-color: rgb(161, 132, 158);
    padding: 10px;
    border-radius: 10px;
}

label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.input-vlr01{
    width: 400px;

}

.input-vlr01, .input-vlr02{
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2em;

}

.input-vlr02{
    width: 250px;
}

input[type='radio'], input[type='checkbox']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

textarea{
    width: 200px;
    height: 100px;
    padding: 20px;
    resize: none;
    border-radius: 10px;
}

#div-btns{
    margin: 20px 0px;
    padding: 20px 0px;
}

button{
    width: 150;
    height: 30px;
    cursor: pointer;
    color: rgb(207, 109, 174);
    border-radius: 10px;
}



